.single-select {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
    list-style: none;
}
/* equally sized square buttons regardless of content */
.single-select > button {
    width: 60px;          /* Make the button square */
    height: 60px;         /* Make the button square */
    padding: 10px;            /* Remove extra padding */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

button.selected {
    border: 3px solid black;
    font-style: italic;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#black {
    background-color: black;
}

#black.selected {
    border-color: white;
}

canvas {
    border: 1px solid black;
}

label {
    margin: 10px;
    width: max-content;
}

.resize-param {
    display: flex;
}

.context-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}