.files-sidebar {
    margin-left: 50px;
    align-items: left;
    padding: 0;
    width: 200px;
    max-width: 400px;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
}

.sidebar-file-selection {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.files-mainviewer {
    width: 800px;
    height: 100%;
    overflow: auto;
    margin-left: 50px;
    float: right;
    align-items: right;
}
