.files-sidebar {
    margin-left: 50px;
    align-items: left;
    width: 200px;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
}

.files-mainviewer {
    overflow: scroll;
}

.file-viewer {
    margin-left: 100px;
    width: 50vw;
    flex-grow: 1;
}

.file-viewer-container {
    overflow-y: scroll;
    max-height: 700px;
}

.file-list-button {
    width: 100%;
    border: none;
    margin-bottom: 5px;
    margin-top: 5px;
    border-bottom: 3px solid #DDDDDD;
}

.file-form-button {
    border: 2px solid #DDDDDD;
    border-radius: 5px;
    background-color: #EEEEEE;
    width: 75%;
}

.container {
    display: flex;
}

.file-upload-selection {
    font-size: small;
    margin-left: 1px;
    margin-right: 1px;
}

.note-info-tooltip {
    visibility: hidden;
    min-width: 50px;
    min-height: 50px;
    width: fit-content;
    height: fit-content;
    background-color: rgba(42, 130, 218,1 );
    border: 1px solid #fbc02d;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    opacity: 100%;
    float: right;
    p {
        color: black;
        font-size: 9px;
        text-align: left;
        float: left;
        margin: 10px;
        z-index: 50;
    }
    position: relative;
    z-index: 15;
}

.highlight-block {
    z-index: 5;
    background-color: rgba(255, 255, 0, .4);
    margin: 0 auto;
}

.tooltip-container:hover .note-info-tooltip {
    visibility: visible;
}

.poster-name {
    font-weight: bold;
}

