.files-sidebar {
    background-color: var(--button-color);
    margin-left: 50px;
    margin-right: 50px;
    align-items: left;
    width: 200px;
    height: 100%;
    border-radius: 12px
}

.files-mainviewer {
    width: 80%;
    height: 80vh;
    overflow: auto;
    justify-content: center; 
    align-items: center;
}

.toolbar {
    width: 100%;
    top: 0;
}

.bookmark-button {
    float: right;
    margin-right: 2%;
    margin-top: 10px;
}

.page-nav-label {
    float: left;
    margin-left: 2%;
}
.file-viewer {
    margin-left: 100px;
    width: 60vw;
    flex-grow: 1;
}


.file-list-button {
    width: 100%;
    border: none;
    margin-bottom: 15px;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
}

.file-list-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.file-list-button:active {
    background-color: rgba(255, 255, 255, 1);
}

.file-form-button {
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 12px;
    width: 75%;
}

.container {
    display: flex;
}

.file-upload-selection {
    font-size: small;
    margin-left: 1px;
    margin-right: 1px;
}

.note-info-tooltip {
    right: 0px;
    top: 0px;
    margin-top: -60px;
    visibility: hidden;
    min-width: 50px;
    min-height: 50px;
    width: fit-content;
    height: fit-content;
    border: 1px solid #fbc02d;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    opacity: 100%;
    float: right;
    p {
        color: black;
        font-size: 15px;
        text-align: left;
        float: left;
        margin: 10px;
        position: relative;
        z-index: 50;
    }
    position: absolute;
    z-index: 6;
}

.highlight-block {
    position: relative;
    z-index: 5;
    background-color: rgba(255, 255, 0, .4);
    margin: 0 auto;
}

.tooltip-container:hover {
    .highlight-block {
        border: 1px solid black;
    }
}

.tooltip-container:hover .note-info-tooltip {
    visibility: visible;
}

.poster-name {
    font-weight: bold;
}

.add-note-dialog {
    position: relative;
    z-index: 6;
}


.sidebar-note-content {
        margin-top: 2%;
        border: none;
        width: 90%;
        border-radius: 6px;
        text-align: left;
        font-style: italic;
}

.sidebar-note-name {
        width: 100%;
        text-align: left;
        font-size: small;
        margin-left: 2%; 
}

.delete-note {
    border-radius: 0px;
    border: none;
    float:right;
    bottom: 0;
    right: 0;
    position: absolute;
    max-width: 50px;
    max-height: 50px;
}

.sidebar-note-link {
    flex-grow: 3;
}
.file-uploader div {
    background-color: var(--button-color);
}

.sidebar-item {
    background-color: var(--button-color);
    width: 75%;
    min-height: 50px;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
    padding: 3%;
    margin-bottom: 10%;
}

.sidebar-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.sidebar-item:active {
    background-color: rgba(255, 255, 255, 0.2);
}
