.room-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    max-width: 1200px;
    gap: 20px;
    margin: 0 auto;
}

.room-users {
    margin-top: 20px;
    /* padding: 20px; */
    /* margin-top: 20px; */
}

.room-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    padding: 20px;
    margin-top: -5;
}

.room-users-list {
    max-width: 300px;
    max-height: 200px;
    overflow-y: scroll;
    scrollbar-width: thin;
    width: 100%;

    display: flex;
    flex-direction: column;
}
  
  .user-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #6fb2c5;
  }
  
  .user-name {
    font-size: 16px;
    font-weight: 500;
  }

.room-content {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 500px;
    padding: 30px;
}

.confirmation-content {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 600px;
}

.room-users ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.room-users .users {
    width: 200px;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    /* text-align: left; */
    border-radius: 5px;
}

.room-users .users:hover {
    background-color: var(--button-color, #6fb2c5);
}

.user-profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}